* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  max-width: 100px;
  margin-top: 5px;
}
header {
  padding: 0px;
}
#navbar {
  background: #0093d0;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  padding: bottom 1px;
  text-align: center;
  text-decoration: none;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #fdbd36;
  color: #282a2b;
  padding-bottom: 34px;
}
h1 {
  font-family: "Roboto";
  text-shadow: black 2px;
}
body {
  background-color: #fdbd36;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  /* Set implicit rows */
  grid-auto-rows: 3fr;
  grid-template-columns: repeat(2, 1fr);
}
/*
.item {
  padding: 3rem;
  background: #f4f4f4;
  border: #ccc 1px solid;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  display: flexbox;
}*/
.covers {
  display: flex;
  height: 400px;
  margin: 0 auto;
  flex-direction: column;
}
.covers img {
  margin: 0 auto;
}
)
body {
  padding: 5px;
}
section {
  text-align: center;
}
h1,
h2 {
  margin: 20px;
}
